.details-section{
    display: flex;
    align-items: center;
    justify-content: center;
}
.details-container{
    background-color: blue;
    width: 80vw;
    height: 90vh;
    border-radius: 25px;
    overflow: hidden;
}