.register-section {
  background-color: #0190d2;
  height: 100vh;
  display: flex;
  padding: 25px;
}

.image-container{
    background-image: url("../../../Assets/Images/universe_zoomed.jpg");
    background-position: center top;
    width: 50%;
    border-radius: 25px;
    padding: 25px;
}

.content-container{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.in-content-container{
  justify-items: end;
}

.in-content-container h3{
  font-size: 75px;
  font-weight: bold;
  color: white;
  text-align: start;
  margin-bottom: 20px;
}