.hero-container {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  z-index: -1;
}

.content {
  background-image: linear-gradient(rgba(0, 0, 0, 0.28) 50%, black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  height: 100%;
}

.content h1 {
  font-size: 150px;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-weight: bold;
}

.content p {
  font-size: 20px;
  margin-bottom: 40px;
}
