.info-container {
  background-image: linear-gradient(black, #00202e, #00354e, #0190d2);
  height: 100vh;
  display: flex;
  justify-content: center;
  color: white;
  overflow-x: hidden;
}

.info-container .bg-image {
  margin-top: 80px;
  align-self: center;
  background-image: url("C:\Users\BEST TECH\Desktop\react knowledge\astro_website\src\Assets\Images\earth_in_out.jpg");
  background-size: cover;
  background-position: center;
  width: 80vw;
  height: 60vh;
  border-radius: 35px;
  /* overflow: hidden; */
  display: flex;
  justify-content: center;
}

.info-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-bottom: 20px;
}

.info-content h1 {
  margin-top: -75px;
  /* width: 80vw; */
  -webkit-text-stroke: 0.5px white;
  font-weight: lighter;
  color: transparent;
  font-size: 150px;
  text-transform: uppercase;
  justify-self: center;
  /* position: absolute;
  top: -75px; */
}

/* img {
  align-self: center;
  height: 75vh;
}

.info-content {
  margin-top: 20vh;
  align-self: center;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  padding: 20px;
  padding-right: 220px;
  box-sizing: border-box;
}

.line {
  width: 100%;
  max-width: 200px;
  height: 0.5px;
  background-color: white;
  margin: 20px 40px;
}

.info h6 {
  font-size: 46px;
  text-transform: uppercase;
}

.info p {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 40px 0;
  text-align: justify;
} */
