.info-container {
  background-image: linear-gradient(black, #0190d2);
  height: 100vh;
  flex-direction: row;
  display: flex;
  color: white;
  overflow-x: hidden;
}

.info-container .bg-image {
  background-image: url("C:\Users\BEST TECH\Desktop\react knowledge\astro_website\src\Assets\Images\earth_in_out.jpg");
  background-size: cover;
  background-position: center;
  width: 80vw;
  height: 60vh;
}

/* img {
  align-self: center;
  height: 75vh;
}

.info-content {
  margin-top: 20vh;
  align-self: center;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  padding: 20px;
  padding-right: 220px;
  box-sizing: border-box;
}

.line {
  width: 100%;
  max-width: 200px;
  height: 0.5px;
  background-color: white;
  margin: 20px 40px;
}

.info h6 {
  font-size: 46px;
  text-transform: uppercase;
}

.info p {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 40px 0;
  text-align: justify;
} */
