.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: transparent;
  color: white;
  position: fixed;
  width: calc(100% - 80px);
  top: 0;
  left: 0;
  z-index: 10;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: #00ffd5;
}
