.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 40px;
  background-color: transparent;
  color: white;
  position: fixed;
  width: calc(100% - 80px);
  top: 0;
  left: 0;
  z-index: 10;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
  text-transform: uppercase;
}

.nav-links li {
  list-style: none;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  transition: color 0.3s ease;
  text-align: center;
  display: inline-block;
  padding: 10px 0px;
  cursor: pointer;
  letter-spacing: 2px;
  position: relative;
  overflow: hidden;
  margin: 0 20px;
}

.nav-links li a:before {
  content: "";
  position: absolute;
  width: 0;
  background: #fff;
  left: 0;
  height: 2px;
  bottom: 0;
  transition: all 0.3s;
  opacity: 0.7;
}

.nav-links li a:hover:before {
  width: 100%;
  left: 0;
}

/* --- Mobile Styles --- */
.nav-links .close {
  display: none;
}

@media (max-width: 768px) {
  .nav-links {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    flex-direction: column;
    /* background-color: #232325; */
    background: linear-gradient(-45deg, #0190d2, #00354e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
  animation: gradient 15s ease infinite;
    height: 100vh;
    width: 100%;
    padding-top: 120px;
    text-align: center;
    transition: all 0.2s ease-in-out;
    z-index: -1;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .nav-links.open {
    opacity: 100%;
    z-index: 9;
  }

  .menu-icon {
    display: flex;
  }

  .nav-links li {
    margin: 20px 0;
  }

  .nav-links li a {
    font-size: 50px;
    font-weight: lighter;
  }

  .nav-links .close {
    display: block;
    align-self: center;
    margin-top: 50px;
    width: 30px;
    height: 30px;
  }

  .navbar {
    width: 100%;
    padding: 20px 30px;
  }
}
