.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@font-face {
  font-family: "Karantina-Light";
  src: local("Karantina-Light"),
    url("../src/Assets/Fonts/Karantina-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Karantina-Regular";
  src: local("Karanina-Regular"), url("../src/Assets/Fonts/Karantina-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Karantina-Bold";
  src: local("Karanina-Bold"), url("../src/Assets/Fonts/Karantina-Bold.ttf") format("truetype");
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
