.exploration-gallery{
    height: calc(100vh - 100px);
    overflow-y: auto;
    box-sizing: border-box;
    padding: 10px 50px 50px 50px;
    scrollbar-width: thin;
  scrollbar-color: white transparent;
}

.exploration-gallery .gallery-img{
    width: 100%;
    display: block;
    border-radius: 25px;
    margin: 7.5px 0;
    transition: transform ease-out 0.3s;
    cursor: pointer;
}

.exploration-gallery .gallery-img:hover{
    transform: scale(0.9);
}